name: Deploy

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
    - name: Checkout project
      uses: actions/checkout@v1

    - name: Specify node version
      uses: actions/setup-node@v1
      with:
        node-version: 12

    - name: Install node_modules
      run:
        yarn install --frozen-lockfile

    - name: Lint
      run:
        yarn lint:ci

    - name: Test
      run:
        yarn test

    - name: Build
      run:
        yarn build

    - name: Release
      if: github.ref == 'refs/heads/master'
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      run: npx auto shipit -d
